<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full fixed top-0 left-0 px-5 py-3 flex justify-between items-center bg-white shadow">

        <h3 class="text-xl font-semibold">Scatch</h3>

        <% if (typeof loggedin !=="undefined" && loggedin) { %>
            <div class="flex gap-5">
                <a href="/shop">Shop</a>
                <a href="/cart">Cart</a>
                <a href="/account">My Account</a>
                <a class="text-red-600" href="/user/logout">Logout</a>
            </div>
            <% } else { %>
                <div class="flex gap-5">
                    <a href="/users/login">Login</a>
                    <a href="/users/register">Register</a>
                </div>
                <% } %>

    </nav>